In [ ]:
import pandas as pd
import sqlite3
import os

# Ensuring loaded directory exists
os.makedirs("loaded", exist_ok=True)

# Loading transformed data
print("\nLoading transformed data...")
full_df = pd.read_csv("transformed/transformed_full.csv")
incr_df = pd.read_csv("transformed/transformed_incremental.csv")

# Saving the full data into full_data.db
full_conn = sqlite3.connect("loaded/full_data.db")
full_df.to_sql("full_data", full_conn, if_exists="replace", index=False)
print("Loaded full_data into loaded/full_data.db")

# Saving the incremental data into incremental_data.db
incr_conn = sqlite3.connect("loaded/incremental_data.db")
incr_df.to_sql("incremental_data", incr_conn, if_exists="replace", index=False)
print("Loaded incremental_data into loaded/incremental_data.db")

# Previewing samples from each of the datasets
print("\nSample from full_data:")
print(pd.read_sql("SELECT * FROM full_data LIMIT 5", full_conn))

print("\nSample from incremental_data:")
print(pd.read_sql("SELECT * FROM incremental_data LIMIT 5", incr_conn))

# Closeing the connections
full_conn.close()
incr_conn.close()
print("\nBoth databases closed successfully.")

Loading transformed data...
Loaded full_data into loaded/full_data.db
Loaded incremental_data into loaded/incremental_data.db

Sample from full_data:
   order_id customer_name product  quantity  unit_price  order_date region  \
0         1         Diana  Tablet       2.0       500.0  2024-01-20  South
1         2           Eve  Laptop       2.0       500.0  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08   None
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0       500.0  2024-03-07  South

   total_price
0       1000.0
1       1000.0
2        500.0
3       1500.0
4       1500.0

Sample from incremental_data:
   order_id customer_name product  quantity  unit_price  order_date   region  \
0       101         Alice  Laptop       2.0         900  2024-05-09  Central
1       102          None  Laptop       1.0         300  2024-05-07  Central
2       103          None  Laptop       1.0         600  2024-05-04  Central
3       104          None  Tablet       2.0         300  2024-05-26  Central
4       105         Heidi  Tablet       2.0         600  2024-05-21    North

   total_price
0       1800.0
1        300.0
2        600.0
3        600.0
4       1200.0

Both databases closed successfully.